* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2a33;
}
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 30px;
}
.InputField input {
  height: 2rem;
  width: 12rem;
  padding: 0.4rem;
}

input:focus {
  outline: none;
}

.InputField button {
  height: 1.9rem;
  width: 3.5rem;
  padding: 1px;
  border: none;
  background-color: rgb(75, 62, 75);
  color: wheat;
}
.InputField button:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
.Container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.Details {
  width: 40rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002200;
  padding: 20px;
  position: relative;
}
.Details h1,
img,
p {
  margin: 20px;
}
.Back {
  position: absolute;
  top: 0;
  right: 0;
}
.Back button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #002200;
  color: white;
  border: none;
}
.Back button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.strAreaDetails {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dotted yellowgreen;
}

@media only screen and (max-width: 768px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }

  .Details {
    width: 20rem;
    min-height: 80rem;
    display: flex;
    align-items: center;
  }
}
